{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Billing Queue</h2>

    {% if prescription %}
        <div class="box">
            <p><strong>Patient:</strong> {{ prescription.patient }}</p>
            <p><strong>Doctor:</strong> {{ prescription.doctor }}</p>
            <p><strong>Token:</strong> {{ prescription.token }}</p>

            <a class="btn" href="/create-bill/">Create Bill</a>
        </div>
    {% else %}
        <p>No pending prescriptions.</p>
    {% endif %}
</div>
{% endblock %}
